.Subscription {
    box-sizing: border-box;
    position: relative;
    border-radius: 15px;
    border: 2px solid #f68113;
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
    color: #f68113;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
}

.Subscription > div {
    text-align: center;
    width: 100%;
}

@media (min-width: 600px) {
    .Subscription {
        width: 60%;
    }
}

.Overlay {
    display: none;
}

.Overlay-button {
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid transparent;
}

.Overlay-button:hover {
    border-color: #282c34;
}

.Subscription:hover > .Overlay {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    z-index: 2;
    background-color: #f68113;
    color: #282c34;
}

.Subscription-new > p {
    width: 100%;
    text-align: center;
}

.Subscription-new:hover {
    background-color: #f68113;
    color: #282c34;
}

.fade-enter {
    opacity: 0.01;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}
