.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: #f68113;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-main {

}

.Button {
  outline: none;
  background-color: #282c34;
  color: #f68113;
  border: 2px solid #f68113;
  padding: 10px;
  border-radius: 15px;
  font-size: 1.1em;
  cursor: pointer;
}

.Button:hover {
  background-color: #f68113;
  color: #282c34;
}


.Button-close {
  position: absolute;
  top: 0;
  right: 0;
  border-top: none;
  border-right: none;
  font-size: 1em;
}
